body {
    background: rgb(215, 224, 241);
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
}

#shows {
    color:brown;
}

.cooking {
    color:tomato;
}

.hidden {
    display: none;
}

button
{
    margin: 10px 0;
}

input[type=submit] {
    margin: 10px 10px 10px 0;
}