body {
    background: rgb(215, 224, 241);
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main button {
    width: 30%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

#shows {
    color:brown;
}

.hidden {
    display: none;
}

button {
    margin: 10px 0;
}


input[type=submit] {
    margin: 10px 10px 10px 0;
}